.itemInfo__table{
    border: 1px solid red;
}

.itemInfo__table{
    color: white;
    width: 80vw;
}
.item__info--header {
    color: wheat;
    font-weight: 900;
    margin-bottom: 3rem;
    text-align: center;
}

.itemInfo__table th,
.itemInfo__table td
{
    text-align: center;
    border: 1px solid grey;
}

.itemInfo__table th {
    font-size: 2rem;
    font-weight: 900;
    color: bisque;
}

.itemInfo__btns{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.itemInfo__btns button{
    border: 1px solid grey;
}