.form__container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__container input {
    height: 2rem;
    width: 290px;
}

.submit__button{
    width: 90px;
    margin: 0 auto;
}